

body .nav{
  --bs-nav-link-color: black ;
  --bs-nav-link-hover-color:grey;
}


.nav-link:focus, .nav-link:hover{
  text-decoration: line-through;
}


body a{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

body a:hover{
  color: black;

}

.active{
  text-decoration: underline;
}