

body .nav{
  --bs-nav-link-color: black ;
  --bs-nav-link-hover-color:grey;
}


.nav-link:focus, .nav-link:hover{
  text-decoration: line-through;
}


body .btn{
  color: black;
 
}


body .btn:hover{
  color: black;
}

body .btn.active{
  color: black;
}


body .btn-link{
 text-decoration: none;

}
#root .btn-link:focus,.btn-link:active {
  color: black ;

}

.btn-link.active{
  text-decoration: underline;

}


body a{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

body a:hover{
  color: black;

} 

.active{
  text-decoration: underline;
}